body, html {
    height: 100%;
}

#root, main {
    max-height: 85%;
}

.message-l {
    margin: 8px;
    margin-right: 100%;
    width: 30vw;
    min-width: 50px;
    float: left;
}

.message-r {
    margin: 8px;
    margin-left: 100%;
    width: 30vw;
    min-width: 50px;
    float: right
}

.messageList {
    display: block !important;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
}