body, html {
    height: 100%;
}

#root, main {
    max-height: 85%;
}

.message-l {
    margin: 8px;
    margin-right: 100%;
    width: 30vw;
    min-width: 50px;
    float: left;
}

.message-r {
    margin: 8px;
    margin-left: 100%;
    width: 30vw;
    min-width: 50px;
    float: right
}

.messageList {
    display: block !important;
    overflow-y: scroll;
    max-height: calc(71vh - 15px);
    min-height: calc(71vh - 15px);
}

.userListOuter {
    display: block !important;
    max-height: calc(45vh - 15px);
    min-height: calc(45vh - 15px);
    overflow-y: scroll;
}

.userList{
    color: #000;
}

.ninja {
    display: none;
}

.type-msg {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    overflow-y: auto;
    cursor: pointer;
}

.send-btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
}